body {
    font-family: Arial, sans-serif;
    background-color: #eef;
}

h1 {
    text-align: center;
}

.task {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border: 2px solid blue;
}

.task h2 {
    margin-top: 0;
}

a {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

