body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: pink;
}

.box {
    width: 350px;
    padding: 20px;
    background-color: light;
    border: 2px solid pink;
}
